<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/tailwind.css">
  <script src="../js/jquery-3.6.2.min.js"></script>

  <!-- custom JS -->
  <script src="../js/conf.js"></script>
  <script src="../js/devices.js"></script>
</head>

<body>
  <form hidden="true" id="frmUpload">
    <input type="file" id="file" accept=".json">
  </form>

  <div class="bg-blue-700 p-8 text-center font-medium text-white">Probeaufgabe - Colin Loos - 12.02.2023</div>

  <div class="p-8">
    <div id="divDeviceContainer" class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4 lg:gap-8">
    </div>
  </div>
</body>

</html>